[2022-03-03 14:46] MacacoLunar opened #1 "Modo aventura"
Modo aventura está sempre jogando com o mesmo hero, acho que isso pode dar ban.

[2022-03-03 14:48] MacacoLunar opened #2 "Constants"
Vi que tem um arquivo com algumas constantes, tais como:
SALT_KEY, DATE_OFFSET, VERSION_CODE

Como saber os novos valores após uma atualização?

[2022-03-03 15:33] john-titor-master commented on #2
`DATE_OFFSET` é sempre o mesmo valor independente de atualizações. O jogo utilizada números do tipo `LONG` para armazenar datas. É parecido com `Date.now()`, mas ao invés de ser desde `1970-01-01T00:00:00.000Z`, é desde `0001-01-01T00:00:00.000Z`.

`VERSION_CODE` está sempre presente na tela inicial do jogo.

`SALT_KEY` essa é a chave de criptografia que o jogo usa para validar as mensagens. Ela m

[2022-03-03 15:33] #2 closed

[2022-03-03 15:35] john-titor-master commented on #1
Sim. Isso foi intencional. O servidor do jogo não bloqueia o uso do mesmo herói para jogar o modo aventura. Utilizei esta estratégia de forma a maximizar meu ganho (herói mais raro gera mais BCOINS). Você pode abrir um Pull Request fazendo rotação de heróis e até respeitando o tempo limite do uso dos heróis, ou simplesmente comentar a função do modo aventura.

[2022-03-03 15:35] #1 closed

[2022-03-03 15:39] MacacoLunar opened #3 "Off-topic"
Já tentou fazer um bot websocket para o space crypto?

[2022-03-03 15:43] john-titor-master commented on #3
Eu fiz um bot para o bombcrypto por diversão e aprendizado. Foi um desafio legal, aprendi a trabalhar com WASM por consequência. Mas não tenho tempo para investir nisso no momento. Mas o processo pode ser bem parecido.

[2022-03-03 15:52] MacacoLunar commented on #3
Tentei baixar o WASM e decompilar quando comecei no bomb, mas não consegui entender muita coisa do código decompilado. Também tentei visualizar as requisições pelo browser, mas estavam ofuscadas.
Não tenho experiência com nodejs, mas seu código está tão bem escrito que estou conseguindo aprender com ele, obrigado. Parabéns pelo projeto.

[2022-03-03 21:41] ikariwill commented on #3
Vi que tinha alguns códigos de telegram. Você usou pra alguma coisa, como receber informação das suas contas?

Ta bem legal o projeto, código de qualidade, bem escrito.

[2022-03-03 22:34] alefwmm commented on #3
Você pode passar a variável de ambiente TELEGRAM_KEY com uma chave do telegram para um bot (gerado pelo BotFather).

Você pode usar os comandos `/stats` E `/rewards` para obter estatísticas do mapa e suas recompensas respectivamente.

[2022-03-03 22:38] john-titor-master commented on #3
Você pode passar uma variável de ambiente `TELEGRAM_KEY` para integrar um bot do telegram, obtido pelo BotFather.

Feito isso, você pode usar os comandos /stats e /rewards em uma conversa com esse bot, obtendo estatísticas atuais do mapa e suas recompensas respectivamente.

[2022-03-04 04:06] smultn opened #4 "How to run the code?"
I have installed all dependencies but keep getting this error
![image](https://user-images.githubusercontent.com/56875604/156697477-928e6e86-aa62-4473-ae8a-01028ff5522e.png)

[2022-03-04 04:22] MacacoLunar commented on #4
You didn't set your wallet, anyway the server is off now.

[2022-03-04 12:10] ciborgcarom opened #5 "Parou de rodar após atualização de 04/03/2022"
@john-titor-master

Parabéns pelo projeto e obrigado por compartilhar!!

Gostei muito e já comecei a estudar WASM, pois nem sabia o que era.

Ontem rodei o projeto e funcionou de boa até às 23h, porém hoje após a atualização, não está funcionando.
![image](https://user-images.githubusercontent.com/6770435/156760379-be8193be-e7e9-46b2-aade-e50729afbfa4.png)

Olhando pelo seu código e tentando enten

[2022-03-04 13:21] alcidesbsilvaneto commented on #5
Nunca tinha visto esse bot, no dia que vou usar, quebra kkkkkk. Que azar, aguardando correção.

[2022-03-04 13:23] jeanvetorello commented on #5
mesma coisa, depois da atualizaçao parece que não dá para entrar só com a wallet.

que pena deixou a gente sonhar.

[2022-03-04 13:38] john-titor-master commented on #5
Apenas mudaram a versão de 33 para 34 :stuck_out_tongue:.

[2022-03-04 13:38] #5 closed

[2022-03-04 13:39] john-titor-master commented on #4
Hey @smultn, you must run it on some bash terminal. Also, do not forget to set your wallet ID:

[code]

[2022-03-04 13:39] #4 closed

[2022-03-04 13:43] john-titor-master commented on #3
@ikariwill  Abre um PR com as modificações que você está fazendo :). Estou buscando um mantenedor hehe. Por sinal, usando Docker é melhor pro bot reiniciar em caso de falhas.

[2022-03-04 14:54] ikariwill commented on #3
Por enquanto adicionei apenas um script pra reinicializar, fiz bem as pressas pra testar se ele conseguiria aguardar a manutenção rodando e tentando reconectar começando a cada 5 min e indo até 25 min de delay entre as retentativas.

Não deu certo pq tinha que att a constante do número da versão.

Depois dou uma olhada via docker, se surgir algum progresso abro uma PR pra contribuir.

[2022-03-04 16:14] andresandri2 opened #6 "Conection failed"
Boa tarde. Após a atualização de hoje (version 34), o bot parou de funcionar.

![Screenshot_6](https://user-images.githubusercontent.com/39542354/156799085-363b6b17-21e7-48a9-b4f9-97eff611c2ff.png)

[2022-03-04 17:38] joseeduardopd opened #7 "HELP"
Boa tarde mano, parabens pelo projeto. Teria como dar uma instrucao pra quem e leigo conseguir rodar o bot usando windows? Valeu!

[2022-03-04 18:29] smultn commented on #4
![image](https://user-images.githubusercontent.com/56875604/156821087-5d905b56-e8ba-4354-b266-5e03522d891c.png)
getting this error, what should i do?

[2022-03-04 21:33] john-titor-master commented on #7
Ola @joseeduardopd.

Primeiramente você vai precisar instalar o git : https://git-scm.com/downloads

Depois, você precisa instalar o nodejs: https://nodejs.org/en/download/

Com ambos instalados, você pode ir na sua área de trabalho e clicar com o botão direito em “Git Bash”. Vai abrir um terminal.

Execute os seguintes comandos:

[code]
Com isto feito, sempre que for rodar, abre o git bash, mas a

[2022-03-04 23:22] joseeduardopd commented on #7
Fiz os procedimentos aqui e tive um problema na hr de executar.
![form](https://user-images.githubusercontent.com/100960116/156855192-cc9bf5ba-18da-4b18-a5c6-9f0fee66248f.jpg)

[2022-03-05 00:32] john-titor-master commented on #7
O erro está relacionado a formatação. Possivelmente algo do windows. Tenta rodar assim:

[code]

Esse primeiro comando compila o código. O segundo roda de fato. Usando assim ele não checa formatação.

[2022-03-05 00:40] john-titor-master commented on #6
Eu não implementei a casa porque eu mesmo não tinha uma. No momento estou um pouco focado em outros projetos e não pretendo implementar essa funcionalidade, até porque precisaria de uma conta com uma casa para testar. Tenho alguns amigos capazes de implementar, mas que fariam com as devidas recompensas hehe. Se estiver interessado me avisa.

[2022-03-05 04:42] joseeduardopd commented on #7
funcionou 100% aqui, mt obg e de novo parabéns pelo projeto, ta mt bem escrito.

[2022-03-05 14:16] #7 closed

[2022-03-05 15:12] jeanvetorello commented on #5
Chef toda vez que mudar de ver temos que alterar nesse aquivo ai?
daria para colocar como env tambem?

[2022-03-05 15:43] zomanuniverse commented on #6
I am amazed at your work.
I own a house if you want the address of the wallet let me know, and I need to donate to you because you are really a genius

[2022-03-06 12:26] ghost commented on #6
Tenho interesse.. Entra em contato comigo em hellsink@gmail.com para conversamos melhor e tirar uma dúvida, @john-titor-master

[2022-03-06 12:32] alefwmm commented on #6
Pode me mandar mensagem no telegram. t.me/john_titor_master

[2022-03-06 12:34] john-titor-master commented on #6
Pode me enviar uma mensagem em https://t.me/john_titor_master

[2022-03-07 08:31] xclover0 opened #8 "multi account"
does this bot can run multiple accounts?

[2022-03-07 14:40] ghost commented on #8
Yes. You need to set wallet_id for each account, @xclover0

[2022-03-07 17:00] xclover0 commented on #8
how can I do it? can you please give me the command that I will run on bash terminal to be able to start multi accounts? @andresandri2 thanks

[2022-03-07 17:07] ghost commented on #8
Open multiples terminals and exec each:

WALLET_ID=0xACCOUNT1ID yarn go
WALLET_ID=0xACCOUNT2ID yarn go
WALLET_ID=0xACCOUNT3ID yarn go
WALLET_ID=0xACCOUNT4ID yarn go

![Screenshot_2](https://user-images.githubusercontent.com/39542354/157082646-9b6911a2-f3c1-4ef2-9352-217db61448d7.png)

[2022-03-07 18:12] joseeduardopd opened #9 "Erro apos algumas horas rodando"
Boa tarde mano, percebi que apos algumas horas ele para e da esse erro do print. Tem alguma sugestão do que pode ser?
![term](https://user-images.githubusercontent.com/100960116/157093036-bcc46254-4f29-4826-8978-d7328345de44.png)

[2022-03-07 19:15] dilneiss commented on #9
isso também acontece comigo

[2022-03-08 02:00] xclover0 commented on #8
thanks a lot man! @andresandri2

[2022-03-10 11:58] tripparian commented on #3
Se alguém tiver algum progresso relacionado com o spacecrypto, por favor, me da um aviso ai! Estou tentando fazer algo baseado neste código original mas tenho pouca experiência.

O código funciona muito bem para o bomb, é espetacular, brabo demais

[2022-03-10 13:36] #8 closed

[2022-03-10 20:22] odilklein commented on #9
Estou recebendo esse aqui, ultimamente.

![Screenshot_3](https://user-images.githubusercontent.com/99180711/157748014-2d4134b1-ab32-4497-80dd-c05a7759ab1c.png)

[2022-03-12 16:17] john-titor-master commented on #9
Dá uma olhada na última seção do README. Atualizei agora ;)

[2022-03-12 16:17] #9 closed

[2022-03-12 18:45] odilklein commented on #3
@john-titor-master cadê o ID da sua wallet na descrição no README, pra você receber doações pela contribuição?

[2022-03-12 20:14] jeanvetorello opened #11 "bombcrypto-superbot/build/err.js:30"
Boa tarde,

Bot está caindo mais vezes de acordo com o erro abaixo.

/bombcrypto-superbot/build/err.js:30
    return new SuperBotException(type, `${type}: ${message}`);
           ^

SuperBotException: MessageError: Failed with code 1005
    at makeException (/bombcrypto-superbot/build/err.js:30:12)
    at Client.handleMessageError (/bombcrypto-superbot/build/api/client.js:488:47)
    at Client.ha

[2022-03-13 13:26] john-titor-master commented on #11
Acabei de subir um novo fix.

[2022-03-13 13:29] john-titor-master commented on #3
Adicionado.

[2022-03-13 13:56] andresandri2 opened #12 "Bug function 'There are no heroes to work now'"
Bom dia.

Mesmo com a opção ADVENTURE=0 ou sem setar essa variavel no start, o bot está chamando a função para jogar o modo aventura, quando não há herois para trabalhar (l:360 src/bot.ts)

E também, na inicialização do bot, se você setar a variavel ADVENTURE= independente do valor que setar (0 ou 1) o modo aventura estara ativo e esta usando as chaves.

![BUG](https://user-images.githubuserconten

[2022-03-13 14:25] john-titor-master commented on #12
Corrigido.

[2022-03-13 14:25] #12 closed

[2022-03-13 14:25] #11 closed

[2022-03-13 16:05] xclover0 opened #13 "request> more telegram functions"
hello. would it be possible to add more telegram functions? like showing the following:
invested bcoin, total mined, ROI %, and reward %?

![zz](https://user-images.githubusercontent.com/97353862/158068386-4510d7d0-1550-4be7-94c5-21538adb9265.jpg)

[2022-03-13 17:04] vhung85 commented on #3
Hi @john-titor-master , seem that the bot is not working anymore? It still running, but not sync. Could you please check. Thank you.

[2022-03-13 17:49] ghost commented on #3
There is no problem with the bot. I'm using rn and its good

[2022-03-14 00:40] nowsys commented on #3
Hi all, just curious... is it okay for me to login the bomber through webpage while running the bot?  Please advise.

[2022-03-18 03:11] alegalati123 opened #15 "stuck in loggin in after yarn go command"
![yarn go](https://user-images.githubusercontent.com/96633555/158930449-1ed801b2-cf7d-4e08-9288-0b11ab5567ce.png)

stuck in loggin after inicial yarn go command (Brasileiro)
POde me ajudar? Obrigado!

[2022-03-18 03:32] ghost commented on #15
Boa noite, @alegalati123

O servidores do bomb estão desde as 8h da manhã do dia 17 com problemas.

As vezes conecta, porém, cai logo em seguida.

Temos que aguardar eles resolverem

[2022-03-18 12:40] alegalati123 commented on #15
Era o server mesmo, agora está funcionando! Muito obrigado!!

Alguém sabe me dizer como ativar o telegram em multiaccount? tem que ser 1 bot para cada conta?

[2022-03-18 12:49] rmmarconi commented on #15
2022-03-18T12:48:04.855Z [info]: Starting telegraf...
2022-03-18T12:48:04.861Z [info]: Logging in...
/bombcrypto-superbot/build/err.js:30
    return new SuperBotException(type, `${type}: ${message}`);
           ^

SuperBotException: LoginFailed: Error code 101
    at makeException (/bombcrypto-superbot/build/err.js:30:12)
    at Client.handleLoginError (/bombcrypto-superbot/build/api/client.js:30

[2022-03-18 12:52] #15 closed

[2022-03-18 14:27] alegalati123 opened #16 "Ajudem um dummie a ativar o telegram em multiaccount"
Bom dia!
Antes de mais nada, parabéns pelo excelente trabalho!

estou com uma dúvida a respeito do bot, devo criar um bot para cada conta e a chave a ser colocada na linha da execução é a chave fornecida pelo botfather ou é aquele ID do chat específico do bot?

Se tiverem um passo a passo também, agradeço muito! obrigado!

Muito obrigado.

[2022-03-18 14:59] alegalati123 commented on #16
eu criei um bot para cada conta, coloquei o TOKEN api de cada conta em cada comando, o bot executa normal, mas o bot do telegram não reage e não consigo enviar comandos também.

[2022-03-18 16:47] #16 closed

[2022-03-20 02:17] Mozez20 commented on #13
Hi @john-titor-master

How can I add the variable walletId to the messages?

[code]

Good job, thanks!

[2022-03-20 14:21] waelsy123 commented on #13
I think you can get that from the blockchain blocks data https://bscscan.com/tx/0xde63d5d2fadeb7280dff20161a8fccbac9f376d554f8df7cca33fb002490db2a

[2022-03-20 14:29] john-titor-master commented on #13
Included on `/rewards` command.

[2022-03-20 14:29] #13 closed

[2022-03-20 14:29] john-titor-master commented on #3
Nope, once you log-in through the bot, you will get disconnected from the web page.

[2022-03-20 16:10] CodEw47 commented on #3
Hi jhon you have social media? i need talk to you.

[2022-03-20 18:36] Mozez20 opened #17 "Last update error"
After git pull I have this error that was not there before

[code]

Also noticed you have removed MAX_WORKING_HEROES variable, do you think it's a better strategy?

[2022-03-20 18:45] Mozez20 commented on #17
I already found where the error was and it was my mistake.

What do you think about the strategy of using the heroes 5 by 5?
This was giving me very good results, I'm not sure if sending all at the same time is better but surely you have more experience than me in the game and have noticed that this new way is more profitable.

[2022-03-20 21:38] john-titor-master commented on #17
Originally, the strategy of 5 at a time made sense. But since the bombs are placed at optimal places, there is not need anymore for rotation of heroes. This way, the bot will wait till the hero has at least 20 HP and will send it to work again.

[2022-03-20 21:38] #17 closed

[2022-03-20 21:38] john-titor-master commented on #3
https://t.me/john_titor_master
You may call me on Telegram.

[2022-03-20 23:06] waelsy123 opened #18 "More than 15 heroes"
I have noticed two issues here:

1. Squad:: get heroes() return only the active heroes which is MAX 15 hero. is there a way to get the full list of heroes (including the inactive ones)?
2. Is it possible to rotate active heroes in case we have more than 15 heroes in an account?

[2022-03-21 06:28] rastogiujj12 commented on #18
disabled heroes do not regenerate stamina, so there's no use for rotating heroes.

[2022-03-21 13:10] alegalati123 opened #19 "erro a partir de 21/03, ajuda =)"
![yarn go](https://user-images.githubusercontent.com/96633555/159267619-9abad955-1f04-4289-b0b4-f329cef88b78.png)
comecei a ter esse erro hoje.

alguém pode me ajudar? Obrigado!!

[2022-03-21 13:49] alegalati123 commented on #17
im havig the same error after this last update, how did you fix it?

thx!!

[2022-03-21 13:58] john-titor-master commented on #19
Só atualizar a sua versão :)

[2022-03-21 13:58] #19 closed

[2022-03-21 13:59] john-titor-master commented on #18
Se quiser explicar um pouco melhor o porquê de rotacionar heróis desativados hehe.

[2022-03-21 14:02] alegalati123 commented on #19
Maravilha, agora foi! obrigado!

[2022-03-22 09:24] tholakk opened #20 "How to use"
can you help me used this tool easily.

i don't know how to do.

telegram : @thotq

[2022-03-22 12:57] Mozez20 opened #21 "Telegram bots"
So far I have created a bot for each account, but it's somewhat cumbersome and I think that Telegram has some limit on the maximum number of bots (already found... Sorry, too many attempts. Please try again in 60915 seconds.)

Is it possible to use a single bot for all accounts?

[2022-03-22 12:59] Mozez20 commented on #20
Follow the README > Installation
https://github.com/john-titor-master/bombcrypto-superbot#installation

Have you found any problem?

[2022-03-22 13:09] #18 closed

[2022-03-22 13:11] john-titor-master commented on #21
It is not currently implemented on the bot, but it might be possible. The bots would need to send such data to some centralized store and the telegram bot would fetch it from each of the bots. If you implement it, feel free to open a PR.

[2022-03-23 02:08] tholakk commented on #20
yes, i have problem when installation and don't know how to turn on this tool.
I installed all of these: https://git-scm.com/downloads
https://nodejs.org/en/download/ Version 16 at least.

And  installed all of these:
npm install -g yarn
git clone https://github.com/john-titor-master/bombcrypto-superbot
cd bombcrypto-superbot
yarn install .

But i don't know what to do next?

Can you inbox for me

[2022-03-23 05:11] Mozez20 commented on #21
I thought it could be done in some simple way.
The idea of a single bot would be great, but it's beyond my limited knowledge of the language.

I think I will implement something basic, such as sending balances using Discord webhooks on each login (nothing fancy or that could contribute much to the project unfortunately).

Thanks for answering!

[2022-03-23 05:11] #21 closed

[2022-03-23 05:15] Mozez20 commented on #20
WALLET_ID=wallet_id yarn go
Replace wallet_id with your wallet id.

[2022-03-23 05:21] Mozez20 commented on #17
The error was mine because the file that launches the bot did not contain the wallet_id, it was not related to the project itself or the update.

[2022-03-25 07:03] tholakk commented on #20
how to use for multi account bro?

[2022-03-25 18:12] ghost commented on #20
Open as many terminals as you need. 1 terminal for each account. each terminal do you need to set the wallet_id.

[2022-03-27 07:43] tholakk commented on #20
no bro, when i open 2 terminals to run this Git Bash. It error. And just running Git Bash 2 . Git bash 1 error and  don't running.

This is error :

TelegramError: 409: Conflict: terminated by other getUpdates request; make sure that only one bot instance is running
    at Telegram.callApi (C:\Users\quang\OneDrive\Desktop\Raca\bombcrypto-superbot\node_modules\telegraf\lib\core\network\client.js:26

[2022-03-27 12:36] xclover0 opened #23 "hero not counting correctly (working/resting)"
![notes](https://user-images.githubusercontent.com/97353862/160281598-c9c7b64f-1d96-4c81-97cb-1cd2092e1d9c.jpg)

I have 15 heroes on account, only 14 is at rest and 0 (zero) on work. it should be 15 in total..

[2022-03-27 15:30] john-titor-master commented on #20
From the multi-account section:

[2022-03-28 06:51] tholakk commented on #20
thanks bro for supported me for a lot. i made it and very happy about this tool 👯

hope you always update tool if game update  🗡️

[2022-03-28 13:37] lucasvieceli commented on #23
done test here,

Is he not inactive?
![Captura de Tela 2022-03-28 às 10 35 09](https://user-images.githubusercontent.com/1795678/160409941-f760e4b8-5caa-4648-b684-9109757d5db4.png)

[2022-03-28 14:23] Manowgu opened #25 "travando em login telegraf"
![image](https://user-images.githubusercontent.com/101955698/160419221-87279da1-66a4-403f-9e69-f393aee77e98.png) boa tarde, meu bot esta travando nessa linha, hora passa, hora nao passa

[2022-03-28 14:26] ghost commented on #25
É problema de conexão. Há relatos que o Server do jogo está instável. Não é problema com o bot. Verifique o discord do bombcrypto

Obs:poste imagens legíveis.

[2022-03-28 14:29] Manowgu commented on #25
obrigado e desculpa pela foto

[2022-03-29 03:32] Ideoclic opened #26 "authorized ?"
hello

Is your bot authorized under bombcrypto terms or not?

[2022-03-29 10:47] xclover0 commented on #23
hey man, your PR fixed the issue. thanks

[2022-03-29 15:13] Manowgu commented on #26
first it logs by wallet
second, it doesn't work in the browser
third, it farms completely different than a normal working account

no, i believe this bot is not allowed or follows the standards allowed by bombcrypto,
but I'm using it, we're already lost.

[2022-03-29 17:04] #25 closed

[2022-03-29 17:04] #20 closed

[2022-03-29 17:05] john-titor-master commented on #26
Nope.

[2022-03-29 17:05] #23 closed

[2022-03-29 17:32] rmmarconi opened #27 "Question about adventure mode"
The adventure mode just burn the key or really play the game?

[2022-03-29 18:34] Manowgu commented on #26
O risco de ban utilizando apenas para farm é alto? Alguém já tomou ban no tempo de vida do bot?

[2022-03-30 10:41] lucasvieceli commented on #27
he plays the game

[2022-03-30 18:23] #27 closed

[2022-03-31 23:08] EsliAraujo opened #30 "LoginFailed"
Bot não está logando (estava normal à alguns dias)
O login pela web (jogo normal) funciona.
![image](https://user-images.githubusercontent.com/41961751/161163901-b296b901-8af4-4ae6-8fe7-936f7fa51941.png)

[2022-04-01 00:54] john-titor-master commented on #30
Foi lançada uma atualização no código hoje às 07h da manhã. Atualize seu código e tudo ficará normal.

[2022-04-01 00:54] #30 closed

[2022-04-01 00:54] john-titor-master commented on #26
Até o momento não conheço nenhum caso de ban. Caso o mesmo ocorra, garanto uma issue sobre o assunto será aberta aqui.

[2022-04-01 00:54] #26 closed

[2022-04-04 06:17] tholakk opened #35 "Error"
I don't know this issues bro. Check and help me

[warn] src\bot.ts
[warn] Code style issues found in the above file(s). Forgot to run Prettier?

[2022-04-04 12:23] xclover0 commented on #35
go to src directory then type this on cmd/terminal

npx prettier --write bot.ts

[2022-04-04 18:07] marlindo71 opened #36 "Dúvida Modo Aventura"
Boa tarde, pessoal.

Parabéns pelo projeto. Estou analisando pra tentar começar a usar.

No modo aventura ele escolhe o heroi com maior raridade? Ele respeita o período de bloqueio/tempo do heroi?
Se eu tiver 2 herois épicos, por exemplo, ele joga com um e depois o outro ou utiliza sempre o mesmo?

Desculpe tantas perguntas mas é porque TypeScript não é minha praia, então ainda não consigo tirar e

[2022-04-05 02:49] xclover0 commented on #36
it only use your hero with the highest rarity (doesn't select the next high rarity after..)

[2022-04-05 04:45] nortonPC2 commented on #35
i dont get this

go to src directory then type this on cmd/terminal

npx prettier --write bot.ts

[2022-04-05 05:23] xclover0 commented on #35
open your terminal/cmd.. go to SRC folder of the bot, then type that.

npx prettier --write bot.ts
![s](https://user-images.githubusercontent.com/97353862/161684320-802e073b-0d39-4f83-adb1-e845ad1f9a95.jpg)

or you can skip prettier by doing this..

WALLET_ID=wallet_id TELEGRAM_KEY=telegram_key ADVENTURE=1 yarn start

[2022-04-05 05:54] nortonPC2 commented on #35
thanks

[2022-04-05 08:49] Kuchiriel opened #37 "How to use multiaccount with this bot?"
When I start another instance in another wallet, the first instance crashes

[2022-04-05 11:37] xclover0 commented on #37
you must use different telegram API key on each of your account

[2022-04-06 12:08] Manowgu opened #39 "not working after maintence"

[2022-04-06 12:16] CodEw47 commented on #39
bot is gone?

[2022-04-06 12:56] justynik opened #40 "After the last maintenance, the it show some "Login Error""

[2022-04-06 12:59] lucasvieceli commented on #40
duplicad https://github.com/john-titor-master/bombcrypto-superbot/issues/39

[2022-04-06 13:01] Manowgu commented on #40
Lucasvieceli the bot is working for u ?

[2022-04-06 13:04] lucasvieceli commented on #40
Resultados de tradução
no,

need code correction

[2022-04-06 13:05] Manowgu commented on #40
only jonh titor save all

[2022-04-06 13:07] justynik opened #41 "After the last maintenance, It show some "Login Error""
`/bombcrypto-superbot/build/err.js:30`
`       return new SuperBotException(type, ${type}: ${message});`
`                  ^`
`SuperBotException: LoginFailed: Error code 101`
`...`
`...`
`...`
`... {`
`      type: 'LoginFailed'`
`}`

[2022-04-06 13:08] #40 closed

[2022-04-06 13:11] Manowgu commented on #41
this error is for everyone, wait patiently

[2022-04-06 17:31] bankiller commented on #39
Tem chance de atualização em breve?

[2022-04-06 18:04] Manowgu commented on #39
aparentemente o Desenvolvedor esta de ferias, so na proxima semana

[2022-04-06 22:42] #37 closed

[2022-04-07 00:18] Manowgu opened #43 "algum super heroi salva a gente"
visto que o dev ta de ferias, algum super heroi consegue colocar o magnifico pra rodar ?

[2022-04-07 01:37] xclover0 commented on #43
@lucasvieceli @rmmarconi @andresandri2 can you pull up the new salt_key? seems they changed that's why we can't get an authentication.

[2022-04-07 03:08] Manowgu commented on #43
@xclover0 u have the salt_key?

[2022-04-07 03:11] ghost commented on #43
Sorry disappoint you.. I have not skills to do this! Maybe @ikariwill can do this

[2022-04-07 04:44] Manowgu commented on #43
@ikariwiĺl help

[2022-04-07 05:06] ikariwill commented on #43
Não só o salt pode ter mudado, mas também outros parâmetros que eram encriptados e validados no server ao enviar o login do client.

Se não estiver tudo igual o que o server espera na mensagem do Websocket o login não funciona.

Pra saber os valores corretos pra montar a mensagem só observando o funcionamento do jogo a fundo. Não tenho conhecimentos em dev de games, só o @john-titor-master que vai

[2022-04-07 07:38] gohun0096 commented on #43
God teach me @john-titor-master

[2022-04-07 12:01] gohun0096 commented on #43
can you help  please @john-titor-master

[2022-04-07 20:34] Manowgu commented on #43
Hey John is resting please wait

[2022-04-08 00:56] LeonardoFBR commented on #43
What a great job, I hope I get to know as much as he does.

[2022-04-08 11:48] lucasvieceli commented on #43
estou criando um bot para o instagram, a onde as pessoas podem usar meu servidor pra cadastrar suas contas pra colocar pra rodar
https://t.me/bombcryptoFreeBot

<img width="432" alt="Captura de Tela 2022-04-08 às 08 48 27" src="https://user-images.githubusercontent.com/1795678/162429816-6e4d1927-b6fa-42d2-bb97-c3cc0693bd9c.png">

[2022-04-08 12:27] LeonardoFBR commented on #43
Is the bot already working?

[2022-04-08 12:34] lucasvieceli commented on #43
not yet, he won't be back until next week

even so I don't think it will fix the bot,

last update
We currently enable the system to automatically ban user accounts that use the tool to send false signals to the server (The tools do not need to open the game but still send the game signal to the server).
❗️We strongly advise users not to use these tools to avoid getting banned❗️

We have updated t

[2022-04-08 12:37] alcidesbsilvaneto opened #44 "BOT OFICIALMENTE BANIDO!"
Aparentemente eles baniram o uso desse tipo de ferramenta. Logo, não usem a não ser que estejam cientes do risco atual (já não era tão recomendado usar, agora é expressamente proíbido).

<img width="340" alt="Screen Shot 2022-04-08 at 09 34 32" src="https://user-images.githubusercontent.com/45660928/162436549-41fe9453-78f7-4961-9b8b-f7907ccdb2da.png">

PS: O código não é malicioso, eu usei durante

[2022-04-08 12:56] gohun0096 commented on #44
@alcidesbsilvaneto Can you make the bot work?

[2022-04-08 13:09] tripparian commented on #44
F :'( this was a very good bot

[2022-04-08 13:39] gusstta commented on #43
a idéia desse bot é muito boa, é muito leve, talvez a solução seja usar o login de escolinha com usuário e senhas, dessa forma não estaria contra as regras

[2022-04-08 13:40] lucasvieceli commented on #43
mesmo assim fica contra as regras kkk

[2022-04-08 14:11] Manowgu commented on #43
É um excelente trabalho, John fez uma obra de arte, o bomb com inveja quer acabar

[2022-04-08 14:33] gohun0096 commented on #44
@tripparian  can you use it now

[2022-04-08 14:34] waelsy123 commented on #44
they can't ban accounts which uses this bot because using this bot you can target any other user account and innocent people get banned

[2022-04-08 15:31] alcidesbsilvaneto commented on #44
Unfortunately, I don't think they give a shit about it. They ban people on their communication channels just for complaining about the game or economy.
Anyway, just like other bots, I don't think they can ban 100% of the accounts... This is just a warning, if you want to take the risks, it's on you. I just thought it would be good to alert people.

[2022-04-08 15:38] tripparian commented on #44
@alcidesbsilvaneto yeah, but banning people on discord/telegram is way different than banning people from the game itself.

If the bot beggins to work again I'll use it, I can't be bothered "playing" the game anymore. And if I get banned I'll understand.

[2022-04-08 15:53] alegalati123 commented on #44
same

[2022-04-08 16:12] alcidesbsilvaneto commented on #44
But if they know your wallet they also ban you from the game. Anyway, if the bot start working again, I will use it too.

[2022-04-08 21:38] lucasvieceli commented on #44
https://github.com/lucasvieceli/bot-electron desenviolvendo

[2022-04-11 13:05] gohun0096 commented on #44
When will john update date, I really want to use it.

[2022-04-11 13:06] gohun0096 commented on #43
When will john update date, I really want to use it.

[2022-04-11 13:45] Manowgu commented on #44
We dont know

[2022-04-11 20:42] #44 closed

[2022-04-11 20:42] #43 closed

[2022-04-11 20:42] #41 closed

[2022-04-11 20:42] #39 closed

[2022-04-11 20:42] #36 closed

[2022-04-11 20:42] #35 closed

[2022-04-12 14:18] alegalati123 opened #46 "Conseguiram logar no novo sistema? aqui tenho o seguinte erro:"
Estou tendo erro tanto no login pelo usuário quanto pela private key:

2022-04-12T14:16:14.982Z [info]: Starting telegraf...
2022-04-12T14:16:14.984Z [info]: Logging in...
/bombcrypto-superbot/build/err.js:30
    return new SuperBotException(type, `${type}: ${message}`);
           ^

SuperBotException: LoginFailed: Error code 101
    at makeException (/bombcrypto-superbot/build/err.js:30:12)

[2022-04-12 14:22] Manowgu commented on #46
NOME=user:login:senha TELEGRAM= yarn go

[2022-04-12 14:28] alegalati123 commented on #46
erro:

yarn run v1.22.17
$ yarn lint && yarn format:check && yarn build && yarn start
$ eslint src/ --ext .ts
$ yarn prettier --check src/
$ C:\Users\Alega\Desktop\bombcrypto-superbot\node_modules\.bin\prettier --check src/
Checking formatting...
All matched files use Prettier code style!
$ tsc
src/api/client.ts(9,17): error TS2307: Cannot find module 'got' or its corresponding type declarations.

[2022-04-12 14:42] dilneiss commented on #46
Aqui tbm não rola: LOGIN=user:dilnei:minhasenha yarn go
Sempre pede wallet_id

[2022-04-12 14:57] xclover0 commented on #46
**yarn install** <---- to update the modules

then

LOGIN=user:user:pass yarn go

[2022-04-12 15:03] EvgeniiDev opened #47 "Error with login by token"
2022-04-12T15:02:14.286Z [info]: Starting telegraf...
2022-04-12T15:02:14.330Z [info]: Logging in...
internal/process/promises.js:213
        triggerUncaughtException(err, true /* fromPromise */);
        ^

HTTPError: Response code 400 (Bad Request)
    at Request.<anonymous> (/bombcrypto-superbot/node_modules/got/dist/source/as-promise/index.js:117:42)
    at processTicksAndRejections (internal/

[2022-04-12 15:03] alegalati123 commented on #46
the yarn actually updated but still got the same error

[2022-04-12 15:15] lucasvieceli opened #48 "Offtopic telegram bot free"
.

[2022-04-12 15:56] zomanuniverse commented on #46
they updated to 41 and bot still 40

[2022-04-12 16:22] alegalati123 commented on #46
just did a git pull and yarn update and now it is working!

[2022-04-12 16:23] alegalati123 commented on #46
does anyone knows what changes need to be done in docker? to run infinite mode

[2022-04-12 16:57] zomanuniverse commented on #46
you mean this
docker run --env-file=1.env --restart=always --name bsb1 -dt bsb

[2022-04-12 17:48] alegalati123 commented on #46
yes this one!  but how about the ".env" file, how does it have to be? i tried the user:password and didnt work. Thx!!

[2022-04-12 17:58] zomanuniverse commented on #46
you need to create user and password then use it on env file like :
LOGIN=alegalati123:123123

[2022-04-13 02:09] tholakk commented on #48
is safe?

[2022-04-13 02:53] ikariwill commented on #48
@lucasvieceli funcionando legal, mas depois de um tempo rodando ele para de executar com o erro:

Error in account:
Bot is not running!

Teria que ver uma forma de reiniciar caso de esse erro, que deve ser algum timeout no server do bomb.

[2022-04-13 09:07] iagomcs opened #49 "Sugestões de aprimoramento do bot"
Olá pessoas,

Gostaria inicialmente de parabenizar o desenvolver do bot, funciona muito bem e a integração com o telegram é filé!

Sugestão:
Problema: Heróis com mais stamina ou raridade maior demoram muito para ir trabalhar, já que o calculo é baseado em % de stamina cheia. Alterando o MIN_HERO_ENERGY para um número inferior também causaria um problema com heróis que tem stamina baixa ou bateria.

[2022-04-13 11:10] lucasvieceli commented on #48
ainda estou testando, veifiquei isso agora, espero q tenha corrigido

[2022-04-13 11:14] lucasvieceli commented on #48
it runs the same bot from this repository.

I run all accounts on my server

[2022-04-13 12:53] lucasvieceli commented on #48
por enquanto parece que esta corrigido

[2022-04-13 13:29] lucasvieceli commented on #49
no pull request eu fiz uma env MIN_HERO_ENERGY_PERCENTAGE

fiz agora antes de ler seu comentário kkkk

[2022-04-14 12:09] alegalati123 commented on #46
Only works without docker, i tried to create all types of env files =/
LOGIN=user:user:password
LOGIN=user:password

etc..

[2022-04-14 13:21] zomanuniverse commented on #46
i don't know why i feel that you didn't create scholar in Bcrypto

[2022-04-14 15:08] alegalati123 commented on #46
i did, the line LOGIN=user:user:password TELEGRAM_KEY=xxxxxxxxx yarn go is working fine outside docker, but im doing something wrong for sure

[2022-04-15 06:21] Manowgu opened #54 "Bombcrypto remove webgl bad notice?"

[2022-04-15 08:53] MrDrakeTN opened #55 "Can't run bot"
After run command LOGIN=myusername:mypasssword yarn go
I got this message:

[code]
How to fix it?

[2022-04-15 12:44] xclover0 commented on #55
`yarn prettier --write src/`

`LOGIN=user:myusername:mypasssword yarn go`

[2022-04-15 21:11] #47 closed

[2022-04-16 01:44] MrDrakeTN commented on #55
Work now! Thank you

[2022-04-16 01:44] #55 closed

[2022-04-18 20:47] Manowgu opened #56 "under revision"
Alguém aqui teve a conta em revisão?

Acredito que o bloqueio do site sem anúncios seja para verificar bots que não estão vendo os anúncios, vários usuários estão levando bloqueio por estar usando adblock

[2022-04-19 12:00] donkeykongz opened #57 "Error after second run"
I get this error after i did the second run

2022-04-19T09:47:52.786Z [info]: Starting telegraf...
2022-04-19T09:47:52.788Z [info]: Logging in...
C:\Users\JW\Desktop\crypto\bombcrypto-superbot\build\err.js:30
    return new SuperBotException(type, `${type}: ${message}`);
           ^

SuperBotException: ConnectionFailed: Connection failed
    at makeException (C:\Users\JW\Desktop\crypto\bombcrypto

[2022-04-20 07:32] tholakk commented on #57
where admin?

[2022-04-20 13:45] #46 closed

[2022-04-20 16:55] gohun0096 commented on #57
V 43

[2022-04-21 11:49] alegalati123 opened #59 "is it working after last update?"
is it working after last update?

[2022-04-21 13:15] waelsy123 commented on #59
Yep try with v43

[2022-04-21 19:20] alegalati123 commented on #59
how? git pull doesnt seem to update? thx a lot!

[2022-04-21 22:09] GFarrel commented on #6
@john-titor-master tried to send you a message and the user does not exist, do you have another way to communicate with you?

[2022-04-22 04:50] alegalati123 commented on #57
how do we get V 43? thx!!

[2022-04-22 04:50] alegalati123 commented on #59
how do we get v43? thx!

[2022-04-22 12:20] alegalati123 opened #60 "How do i get this V43 that is working?"
How do i get this V43 that is working?  git pull doesnt seem to update it, sry for the newb question.

[2022-04-22 12:58] #60 closed

[2022-04-22 12:58] #59 closed

[2022-04-22 22:50] rafgl commented on #56
Opa, eu tive, e eu uso adblock também

[2022-04-24 02:05] GFarrel opened #61 "Alive?"
Is anyone still working on this project?

[2022-04-24 07:14] yokosogithub opened #62 "Login error"
2022-04-24T07:13:31.675Z [info]: Starting telegraf...
2022-04-24T07:13:31.678Z [info]: Logging in...
/Users/rabo/Desktop/bombcrypto-superbot/build/err.js:30
    return new SuperBotException(type, `${type}: ${message}`);
           ^

SuperBotException: LoginFailed: Error code 101
    at makeException (/Users/rabo/Desktop/bombcrypto-superbot/build/err.js:30:12)
    at Client.handleLoginError (/User

[2022-04-24 07:28] waelsy123 commented on #62
Checkout my fork

[2022-04-24 07:29] waelsy123 commented on #61
Yes checkout my fork

[2022-04-24 07:46] yokosogithub commented on #62
Same issue.
SuperBotException: LoginFailed: Error code 101

[2022-04-24 13:23] ghost commented on #62
what happens if i activate adventure mode? being that it is deprecated

[2022-04-24 16:00] WeslleySOR opened #63 "Adventure Mode"
**what happens if i activate adventure mode? being that it is deprecated**

[2022-04-24 21:27] rastogiujj12 commented on #63
you get banned.
The adventure mode is not set up to follow the cooldown limit as implemented by the game, so it uses the same hero over and over until you run out of keys.
There may be more than the above reason why it is deprecated.

[2022-04-24 23:03] ghost commented on #63
thank u

[2022-04-25 16:34] alegalati123 opened #65 "is it working already after last update? do we need to change to a new version (44?)?"
is it working already after last update? do we need to change to a new version (44?)?

[2022-04-25 17:40] lucasvieceli commented on #65
https://t.me/bombcryptoFreeBot

[2022-04-25 17:40] lucasvieceli commented on #62
https://t.me/bombcryptoFreeBot

[2022-04-25 17:41] lucasvieceli commented on #61
https://t.me/bombcryptoFreeBot

[2022-04-25 18:13] alegalati123 commented on #65
?

[2022-04-25 18:16] lucasvieceli commented on #65
bot free, working, you don't need to run the bot on your computer

[2022-04-25 20:55] alegalati123 commented on #65
como funciona?

[2022-04-25 20:57] lucasvieceli commented on #65
so rodar comando /create seuUsuarioBomb suaSenhaBomb

que ele vai cadastrar sua conta, qualquer coisa so me chamar telegram @lucasvieceli

[2022-04-25 21:05] alegalati123 commented on #65
funciona multiaccount?

[2022-04-25 21:11] lucasvieceli commented on #65
sim

[2022-04-26 04:03] yokosogithub commented on #65
Nice work

[2022-04-26 13:15] waelsy123 commented on #65
you can use my fork, I keep maintaining it with new updates https://github.com/waelsy123/bombcrypto-superbot

[2022-04-26 13:16] waelsy123 commented on #62
you can use my fork, I keep maintaining it with new updates https://github.com/waelsy123/bombcrypto-superbot

[2022-04-26 13:17] waelsy123 opened #67 "Alive fork"
As the developer is busy and there are no other maintainers, feel free to use my fork as I keep maintaining it https://github.com/waelsy123/bombcrypto-superbot

[2022-04-26 13:18] ghost commented on #62
I've been using it for 2 days, thank you very much.

[2022-04-26 14:28] ghost commented on #67
C:\Users\Weslley\Downloads\bombcrypto-superbot-master\build\err.js:30
    return new SuperBotException(type, `${type}: ${message}`);
           ^

SuperBotException: MissingEnv: Enviroment variable 'PORT' is missing.
    at makeException (C:\Users\Weslley\Downloads\bombcrypto-superbot-master\build\err.js:30:12)
    at requireEnv (C:\Users\Weslley\Downloads\bombcrypto-superbot-master\build\lib.js:4

[2022-04-26 14:29] ghost commented on #67
I just downloaded and gave yarn install and got this error

[2022-04-27 14:54] waelsy123 commented on #67
Add another env variable before yarn go, for instance:

PORT=3001 LOGIN=xxxx yarn go

[2022-04-27 15:33] LeonardoFBR commented on #65
Hi, I tried your bot but how can I link one telegram to several docker accounts?

[2022-04-27 16:58] lucasvieceli commented on #65
it doesn't, but you can use the commands in it, type /help and you will find

[2022-04-27 20:12] zomanuniverse commented on #67
is they still banning people who use this bot ?

[2022-04-27 20:16] ghost commented on #67
I've been using it for 3 days and I haven't been banned yet

[2022-04-28 08:49] KxFxN commented on #67
Excuse me, how do I set the energy percentage for sending heroes?  and how to choose a hero to enter the house Or is there a way to write a config file?

[2022-04-28 18:26] ghost commented on #67
are you going to fix adventure mode?

[2022-04-29 06:58] waelsy123 commented on #67
Not in the near future

[2022-05-06 17:47] KxFxN commented on #67
@[waelsy123](https://github.com/waelsy123)

![image](https://user-images.githubusercontent.com/58837369/167186961-e776324a-5f24-4785-9674-70da9424467a.png)

**Why can't I login after server update?**

[2022-05-07 07:11] waelsy123 commented on #67
Just pushed a fix

[2022-05-12 19:09] lucasvieceli commented on #67
I checked how it's done in the bot, to throw the bombs. I saw that he was dropping a bomb, waiting for the server to return to then throw another bomb,

I'm corrected so he can throw the amount of bombs according to his rarity and also respecting the hero's time to go to the place to burst the bomb, so a super legendary will now be able to throw the 6 bombs at once. just like it's done on the offi

[2022-05-23 16:06] Manowgu opened #68 "F"
F

[2022-05-23 19:43] LeonardoFBR commented on #68
@lucasvieceli Isn't there a way to see the sens amounts from multiple accounts easily? Docker Compose

[2022-05-23 19:43] LeonardoFBR commented on #68
I would like to know how you made the server for telegram.

[2022-05-24 11:54] lucasvieceli commented on #68
https://t.me/bombcryptoFreeBot

you can use it on telegram

[2022-05-25 03:24] LeonardoFBR commented on #68
@lucasvieceli Any way to play amazon survival?

[2022-05-26 18:12] lucasvieceli commented on #68
it's working amazon

[2022-06-12 10:30] waelsy123 commented on #67
thanks @lucasvieceli! I like your changes, I have been pulling it to my fork regularly

[2022-06-15 23:12] lucasvieceli opened #69 "Contact"
@john-titor-master poderia me chamar no telegram? N irei passar seu contato para ngm

@lucasvieceli

[2022-06-18 20:09] #69 closed

[2022-06-18 20:09] #68 closed

[2022-06-18 20:10] #67 closed

[2022-06-18 20:10] #65 closed

[2022-06-18 20:10] #63 closed

[2022-06-18 20:10] #62 closed

[2022-06-18 20:11] #57 closed

[2022-06-18 20:11] #61 closed

[2022-06-18 20:11] #56 closed

[2022-06-18 20:11] #54 closed

[2022-06-18 20:11] #49 closed

[2022-06-18 23:02] WeslleySOR opened #70 "Mineraland"
Fala meu querido @lucasvieceli percebi que você fala português também.
Então, tem alguma forma de você alterar esse bot para funcionar com o game mineraland ? Ele é a mesma coisa que o bombcrypto só muda os gráficos, ate os modos e o work funcionam da mesma forma, só estou pedindo mesmo porque esse bot em node salvou meu pc hahahah

o link do game: https://play.mineraland.io/

Se precisar de uma c

[2022-06-19 13:14] lucasvieceli commented on #70
vou da uma verificada se é simples depois me manda uma conta, @lucasvieceli  no telegram

[2022-06-20 15:12] lucasvieceli commented on #70
verifiquei, parece ser mais facil que o bomb

mas não é mesma coisa, teria que fazer um novo bot, no momento não tenho tempo =/

[2022-06-20 15:12] #70 closed

[2022-06-20 20:54] rastogiujj12 opened #71 "Adventure mode safe?"
Bombcrypto was banning accounts that were using the adventure mode. Is it safe now, if yes, please list what changed?
Thanks

[2022-06-20 23:55] lucasvieceli commented on #71
from the tests I did, it's not banning anymore, but it's still not 100% guaranteed.

In the past, the bot entered adventure mode and simply entered the portal. Now he respects if the hero is available for use, kills all enemies and then enters the portal.

every 10 min he tries to play adventure mode

[2022-06-22 17:46] #71 closed

[2022-06-24 18:57] veenx67 commented on #48
rapaz, você é f***

primeiro saque vou fazer uma doação

muito obrigado <3

[2022-06-25 19:48] veenx67 commented on #48
o bot parou de responder do nada, qualquer comando que eu uso ele não responde.

[2022-06-26 02:05] LeartPinheiro opened #72 "[Sugestão] Docker Hub"
Olá! meus amigos!  Esse projeto é maravilho e creio que ele ficaria ainda mais maravilhoso se fosse colocado no Docker Hub, para podermos baixar direto de la e simplesmente colocar online com arquivos env, sem necessidade de baixar e 'compilar' tudo do zero.

[2022-06-26 21:33] lucasvieceli commented on #72
ok, mais pra frente irei colocar dockerhub

[2022-06-26 21:34] lucasvieceli commented on #48
as vezes ele sobrecarrega kkkk, servidor de 1gb de ram, temos um grupo, qualquer coisa manda msg la https://t.me/+tQcb45U9MwAxYWMx

[2022-06-28 10:22] rastogiujj12 opened #73 "[Suggestion] Can you add auto claim feature?"
Something that can be configurable from the env

[2022-06-28 12:18] lucasvieceli commented on #73
ok, I believe you need to log in with the metamask, I will check

[2022-06-29 01:07] rastogiujj12 commented on #73
yes, metamask login is needed.

[2022-06-29 13:20] lucasvieceli commented on #72
adiconei ao dockerhub vieceli/bombcrypto-superbot

https://github.com/john-titor-master/bombcrypto-superbot#readme

[2022-06-29 13:23] #72 closed

[2022-06-30 02:08] LeonardoFBR opened #75 "[Suggestion] Store amount of bcoin and sens in a file and database"
I was wondering if there was a way to save the sens and bcoin amounts for each account to a file or database.

[2022-06-30 12:21] lucasvieceli commented on #75
today doesn't have this functionality, would it be better in a spreadsheet?

[2022-06-30 15:19] LeonardoFBR commented on #75
Yes, it would be great in an excel file. When there are 50 or 100 accounts to review one by one manually it is quite a heavy work.

[2022-06-30 16:30] lucasvieceli commented on #75
https://t.me/bombcryptoFreeBot

ok, I will implement for when I login, save in csv.

but if you want the telegram bot, do that too, there is a /rewards_all

[2022-06-30 19:39] lucasvieceli commented on #75
done

check readme

[2022-06-30 19:39] #75 closed

[2022-06-30 20:17] LeonardoFBR commented on #75
It is not working well.
It is not creating the csv files

[2022-06-30 20:17] LeonardoFBR commented on #75
@lucasvieceli

[2022-06-30 20:20] lucasvieceli commented on #75
is your code up to date??

check if you have these lines
https://github.com/john-titor-master/bombcrypto-superbot/blob/3fe1f40b5a79ca86ceaf3968f9b05a107d08320c/src/bot.ts#L321

[2022-06-30 20:30] lucasvieceli commented on #75
you ran command with SAVE_REWARDS_CSV=1

??

[2022-06-30 20:38] LeonardoFBR commented on #75
Yes sir

[2022-06-30 20:39] LeonardoFBR commented on #75
![99269f0162a3cb1a193fa6ef38ea92ac](https://user-images.githubusercontent.com/72281630/176774298-7d0eb597-8d8d-43a6-beef-4a656723a54e.png)

[2022-06-30 20:41] lucasvieceli commented on #75
run docker-compose up --build

[2022-06-30 20:41] LeonardoFBR commented on #75
![6513f77ed6b7b8a953e6060abc0d0844](https://user-images.githubusercontent.com/72281630/176774548-9a27c4ea-0877-4837-9544-f80be427a1ba.png)

![b45695fbf6270d2edf7671c9afbf2af1](https://user-images.githubusercontent.com/72281630/176774604-f19476e8-0c68-49e9-9948-145b497c4260.png)

[2022-06-30 20:42] lucasvieceli commented on #75
change

line 299 build: .

to image: vieceli/bombcrypto-superbot

run docker-compose up --build

[2022-06-30 20:45] lucasvieceli commented on #75
you are running the account with docker-compose, it is creating the folder inside the container, I will check how to fix this

[2022-06-30 20:46] LeonardoFBR commented on #75
Thank you so much, what a genius you are!

[2022-06-30 20:53] lucasvieceli commented on #75
updated

check this file

https://github.com/john-titor-master/bombcrypto-superbot/blob/master/docker-compose.yml

[2022-07-01 03:44] LeonardoFBR commented on #75
There is anyway to create a single csv?

[2022-07-01 03:44] LeonardoFBR commented on #75
![d1635ca3c4b4c0aebea41ad682ff77df](https://user-images.githubusercontent.com/72281630/176819293-c2ca7643-78c7-40b7-a25c-c89ee555fbe9.png)

[2022-07-02 01:46] inae2533 opened #76 "How to run ADVENTURE Mode"
How to run ADVENTURE Mode

[2022-07-02 17:21] lucasvieceli commented on #76
run

LOGIN=..... MODE_ADVENTURE=1

or

LOGIN=..... MODE_ADVENTURE=1 ADVENTURE_HEROES=123123:12312312:123132
<img width="764" alt="Captura de Tela 2022-07-02 às 14 20 31" src="https://user-images.githubusercontent.com/1795678/177010269-2d1290cf-2b1c-439a-868a-fab50f1fda1f.png">

[2022-07-02 17:22] #76 closed

[2022-07-02 17:23] lucasvieceli commented on #76
or create account in

https://t.me/bombcryptoFreeBot

[2022-07-11 16:31] GFarrel opened #77 "HOUSE_HEROES"
This should work as a priority list and not a limiting list.
If there are any slots left in the house or the heroes in HOUSE_HEROES are working, the bot should use the house with other heroes.

[2022-07-11 16:36] GFarrel opened #78 "Hero shields"
The bot should not send heroes without shields or with shield at 0 to work.

https://github.com/john-titor-master/bombcrypto-superbot/blob/6c70c214ef3348088e7f004cdee3e1f9de28e556/src/bot.ts#L387-L391
This doesn't work, heroes with no shield or with shield at 0 are sent to work.

[2022-07-11 17:39] lucasvieceli commented on #78
but the code is already doing it

[2022-07-11 17:54] GFarrel commented on #78
That's why I quoted the code, for some reason it's not working and heroes without shield or with shield at 0 are being sent to work.

On Telegram:

[2022-07-11 17:57] lucasvieceli commented on #78
Could you lend me the account so I can test it? send me on telegram @lucasvieceli

[2022-07-11 18:03] lucasvieceli commented on #78
I updated the code, could you test it?

[2022-07-11 18:13] GFarrel commented on #78
I don't have any heroes with 0 shields right now, but I have accounts with normal heroes (not S Hero) and if you activate amazon mode they will be used.

Common xxxx127 78/100 will place bomb on (18, 7)
Common xxxx127 77/100 will place bomb on (6, 10)
Sending hero xxxx127 to sleep
Common xxxx127 0/100 will place bomb on (6, 10)
Will send heroes home (0 slots)
Refreshing heroes
Sent 0 heroes to wor

[2022-07-11 18:28] GFarrel commented on #78
The bot is no longer sending normal heroes to work.
I assume it will fix the 0 shield heroes too, I'll try to test it when I get a chance and update the issue if it's not fixed.

Thanks!

[2022-07-11 18:31] lucasvieceli commented on #78
check if your code looks like this
![Captura de Tela 2022-07-11 às 15 31 15](https://user-images.githubusercontent.com/1795678/178333542-65f8e70f-0873-4f8f-8993-df2a80023a74.png)

[2022-07-11 18:38] #78 closed

[2022-07-11 18:39] GFarrel commented on #78
The bot does not send normal heroes to work in amazon mode, as it should be.
The first change (this.getSumShield(hero) === 0) seems to have fixed the problem.

I will continue testing and I will try to test the 0 shield when possible.

[2022-07-15 12:33] lucasvieceli opened #79 "bomb2"
se alguem quiser que faça bot pro bomb2,

preciso de uma conta para fazer os teste, e pode levar ban

me chama telegram @lucasvieceli

[2022-07-16 09:20] GFarrel opened #80 "No shield, no home"
Do not send home heroes without shields

![image](https://user-images.githubusercontent.com/104172680/179348728-996a1598-c9e1-4bfc-a016-bc8fe5b212f8.png)

By the way, #78 100% fixed!
Can we add logger there?
Something like: ```logger.info(`Hero ${hero.id} needs shield repair`);```

[2022-07-16 11:30] lucasvieceli commented on #80
add log

[2022-07-16 12:21] GFarrel commented on #80
Thanks, however opened another issue because there's another problem.

Let me explain...

The bot is sending home heroes without shields (as you can see in the image, 0 shield and at home)
Those heroes will not go to work (since they do not have shields, they do not work)
Therefore you should not use the house with those heroes.

[2022-07-16 12:27] lucasvieceli commented on #80
fixed, test please

thanks for the warnings

[2022-07-16 12:48] GFarrel commented on #80
Fixed, thanks!

[2022-07-16 12:48] #80 closed

[2022-07-18 10:52] lucasvieceli commented on #77
i need a account with house for test

@lucasvieceli telegram

[2022-07-18 11:18] lucasvieceli commented on #77
fixed last commit

[2022-07-18 11:18] #77 closed

[2022-07-27 04:41] WeslleySOR opened #81 "Sugestão"
Colocar a linha de comando para iniciar com modo amazon + o log csv no readme, estou com dificuldade em iniciar o bot com essas configuraçoes.
Grato

[2022-07-27 11:05] lucasvieceli commented on #81
qual comando você esta usando?

[2022-07-27 12:27] ghost commented on #81
estou seguindo o que esta no readme mas diz que é comando invalido, digo os parametros antes do yarn go

[2022-07-27 12:28] lucasvieceli commented on #81
manda print do comando e do erro

[2022-07-27 12:36] ghost commented on #81
https://prnt.sc/jnw29tzeqsS8

[2022-07-27 12:38] lucasvieceli commented on #81
MODE_AMAZON=1
SAVE_REWARDS_CSV=1

[2022-07-27 12:44] ghost commented on #81
perfeito man, funcionou valeuu

[2022-07-27 12:44] #81 closed

[2022-08-02 13:45] rastogiujj12 opened #82 "Docker-compose Login failed"
Hey, I am getting LoginFailed error when using docker-compose. It works fine on telegram bot so I believe its issue with my docker-compose-local.yml

I am doing

[code]

thanks

[2022-08-02 13:53] lucasvieceli commented on #82
remove TELEGRAM_KEY: ""

check if it's working

[2022-08-02 14:05] rastogiujj12 commented on #82
still the same

[2022-08-02 14:21] lucasvieceli commented on #82
run docker-compose up --build

[2022-08-02 16:40] rastogiujj12 commented on #82
tried that, still not working